.section{
    display: flex;
    flex-direction: column;
    padding-top:30px;
    width: 100%;
}

.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 370px;
    height: 230px;
}


.contenedor{
    display: flex;
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.box-txt{
    display: flex;
    padding-left: 10px;
    gap: 20px;
}

.color{
    display: flex;
    gap: 5px;
}

.km{
    display: flex;
    gap: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comprar{
    text-align: right;
}

.opciones{
    margin-top: 10px;
    text-align: right;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.datos{
    width: 350px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(211, 206, 206);
    border-radius: 3px;
}

.ingresar{
    width: 350px;
    height: 55px;
    background-color: black;
    border: 1px solid rgb(211, 206, 206);
    color: #F8F9F9;
    font-size: 20px;
    border-radius: 4px;
}

.login p{
    padding-top: 10px;
}

.hide{
    position: absolute;
    transform: translateY(-2000px);
}

.navbar-icon{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 30px;
}

footer{
    bottom: 0;
    width: 100%;
}

.btn-all{
    display:flex;
    justify-content: center;
    align-items: center;
}

.contenedor-1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    margin-bottom: 40px;
}

.box-txt-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-2{
    height: 40px;
    width: 200px;
    background-color: #2F4C5B;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-1{
    height: 500px;
    width: 850px;
}


