.section{
    display: flex;
    margin-top: 300px;
    width: 100%;
    height: 200px;
    justify-content: center;
}

.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 370px;
    height: 230px;
}


.contenedor{
    display: flex;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.box-txt{
    display: flex;
    padding-left: 10px;
    gap: 20px;
}

.color{
    display: flex;
    gap: 5px;
}

.km{
    display: flex;
    gap: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comprar{
    text-align: right;
}

.opciones{
    margin-top: 10px;
    text-align: right;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.datos{
    width: 350px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(211, 206, 206);
    border-radius: 3px;
}

.ingresar{
    width: 350px;
    height: 55px;
    background-color: black;
    border: 1px solid rgb(211, 206, 206);
    color: #F8F9F9;
    font-size: 20px;
    border-radius: 4px;
}

.login p{
    padding-top: 10px;
}

.hide{
    position: absolute;
    transform: translateY(-2000px);
}

.navbar-icon{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 30px;
}

footer{
    position:absolute;
    bottom: 0;
    width: 100%;
}