<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/Css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Tienda de Carros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <style>
        .jumbotron-custom {
          background-image: url('[[@{/img/img2.jpg}]]');
          background-size: cover;
          background-position: center;
        }
        .card-img-top {
            height: 200px; /* Ajusta la altura según tu preferencia */
            object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio del contenedor */
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/index}">Tienda de Carros</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/carrosUser}">Vehículos</a>
            </li>
        </ul>
        <ul class="navbar-icon" id="icons" >
            <li>
                <a  th:href="@{/login}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                </svg></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Header -->
<header class="jumbotron jumbotron-fluid text-center text-white jumbotron-custom" >
    <div class="container">
        <h1 class="display-4">Bienvenido a la Tienda de Carros</h1>
        <p class="lead">Encuentra tu auto ideal con las mejores ofertas</p>
    </div>
</header>

<section class="section">
    <div class="txt">
        <h3>ENCUENTRA TODA CLASE DE MARCAS</h3>
        <p>MARCAS</p>
        <hr class="hr" style="width:100%;">
    </div>
</section>

<!-- Main content -->
<div class="container mt-5">
    <div class="row">
        <!-- Car 1 -->
        <div class="col-md-4 mt-5">
            <div>
                <img src="/static/img/toyota_png.png" class="card-img-top" alt="Car 1">
                <div class="card-body ">
                    <h5 class="card-title text-center">Toyota</h5>
                </div>
            </div>
        </div>
        <!-- Car 2 -->
        <div class="col-md-4 mt-5">
            <div>
                <img src="/static/img/ford.png" class="card-img-top" alt="Car 2">
                <div class="card-body">
                    <h5 class="card-title text-center">Ford</h5>
                </div>
            </div>
        </div>
        <!-- Car 3 -->
        <div class="col-md-4 mt-5">
            <div >
                <img src="/static/img/kia.png" class="card-img-top" alt="Car 3">
                <div class="card-body text-center">
                    <h5 class="card-title">Kia</h5>
                </div>
            </div>
        </div>
        <!-- Car 4 -->
        <div class="col-md-4 mt-5">
            <div>
                <img src="/static/img/mercedes.png" class="card-img-top" alt="Car 1">
                <div class="card-body text-center">
                    <h5 class="card-title">Mercedes</h5>
                </div>
            </div>
        </div>
        <!-- Car 5 -->
        <div class="col-md-4 mt-5">
            <div >
                <img th:src="@{/img/img7.jpeg}" class="card-img-top" alt="Car 2">
                <div class="card-body text-center">
                    <h5 class="card-title">Hyundai</h5>
                </div>
            </div>
        </div>
        <!-- Car 3 -->
        <div class="col-md-4 mt-5">
            <div >
                <img th:src="@{/img/img8.jpeg}" class="card-img-top" alt="Car 3">
                <div class="card-body text-center">
                    <h5 class="card-title">Renault</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contenedor-1">
    <div class="box-1">
        <img src="/static/img/Expo-1.png" alt="" class="img-1">
    </div>
    <div class="box-txt-1">
        <h5>¿ESTÁS INTERESADO EN UN AUTO?</h5>
        <a class="btn btn-primary text-white" th:href="@{/login}">Regístrate aquí</a>
    </div>
</div>



<!-- Footer -->
<footer class="bg-dark text-white text-center py-3 mt-5">
    <p>&copy; 2024 Tienda de Carros. Todos los derechos reservados.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>